node_modules
.next
out
build
dist
.env
.env.local
.env.production.local
.env.development.local
*.log
.DS_Store
coverage
.nyc_output
*.tgz
*.tar.gz
package-lock.json
pnpm-lock.yaml
yarn.lock
.editorconfig